snippet repeat "Fat Free repeat"
<repeat group="{{ @${1:Value to iterate through} }}" value="{{ @${2:Value to use inside the repeat group} }}">
	${0}
</repeat>
endsnippet

snippet check "Fat Free check"
<check if="${1}">
	<true>
		${2}
	</true>
	<false>
		${3}
	</false>
</check>
endsnippet

snippet viewport "Responsive viewport meta"
<meta name="viewport" content="width=device-width, initial-scale=1">
endsnippet
