snippet f3s "Fat Free set function"
$f3->set('${1:name}', '${2:value}');
endsnippet

snippet f3g "Fat Free get function"
$f3->get('${1:name}');
endsnippet

snippet f3r "Fat Free route definition"
$f3->route('${1:GET|POST|PUT|DELETE|...} @${2:ROUTENAME}: ${3:ROUTE}',
	function ($f3)
	{
		$0
	}
);
endsnippet

snippet f3rr "Fat Free reroute"
$f3->reroute('${1:ROUTENAME}');
endsnippet
